body, * {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.square {
  width: 200px;
  height: 200px;
  background: black;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

.has-transition {
  transition: all 1s linear;
}

.diamond {
transform: rotate(-45deg);
}

.button {
  width: 200px;
  height: 60px;
  line-height: 60px;
  top: 20px;
  right: 20px;
  position: fixed;
  text-align: center;
  background: black;
  color: white;
}

.button:hover {
  cursor: pointer;
}
