@font-face {
    font-family: 'haptik-regular';
    src: url('fonts/haptik-regular.eot');
    src: url('fonts/haptik-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/haptik-regular.woff') format('woff'),
         url('fonts/haptik-regular.ttf') format('truetype'),
         url('fonts/haptik-regular.svg#GTHaptikRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'haptik-italic';
    src: url('fonts/haptik-italic.eot');
    src: url('fonts/haptik-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/haptik-italic.woff') format('woff'),
         url('fonts/haptik-italic.ttf') format('truetype'),
         url('fonts/haptik-italic.svg#GTHaptikRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'haptik-bold';
    src: url('fonts/haptik-bold.eot');
    src: url('fonts/haptik-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/haptik-bold.woff') format('woff'),
         url('fonts/haptik-bold.ttf') format('truetype'),
         url('fonts/haptik-bold.svg#GTHaptikRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h6 {
  text-transform: uppercase;
  font-family: hevletica, sans-serif;
}

.default {
  font-family: helvetica, arial, sans-serif;
}

p {
  font-family: 'haptik-regular', 'helvetica neue', sans-serif;
  font-size: 50px;
}

p.italic {
  font-family: 'haptik-italic', 'helvetica neue', sans-serif;
}

p.bold {
  font-family: 'haptik-bold', 'helvetica neue', sans-serif;
}

p.fake-bold {
  font-weight: bold;
}

p.fake-italic {
  font-style: italic;
}
